#### Visual Studio Code gitignore ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### Nextflow gitignore ###
.nextflow*
work
pipeline_info

### Example files ###
miseq_examples
krakendata
examples
