import java.time.*
Date now = new Date()

process {
    errorStrategy = 'finish'
    withName: trim {
        container = 'docker://staphb/trimmomatic:0.39'
    }
    withName: kraken {
        container = 'docker://staphb/kraken2:2.1.2-no-db'
        memory = '100 GB'
    }
    withName: filterreads {
        conda = 'bioconda::krakentools=1.2'
    }
    withName: kraken2krona {
        conda = 'bioconda::krakentools=1.2'
    }
    withName: krona {
        conda = 'bioconda::krona=2.8'
    }
    withName: convert2fasta {
        container = 'library://millironx/default/julia:1.6.1'
    }
    withName: blast {
        container = 'docker://ncbi/blast:2.11.0'
    }
}
singularity {
    enabled = true
}
params {
    dev            = false
    devinputs      = 2
    help           = false
    kmerLength     = 35
    outfolder      = ""
    readsfolder    = "."
    runname        = "viral-metagenomics"
    threads        = 4
    tracedir       = '.trace'
    timestamp      = now.format('yyyyMMdd-HH-mm-ss')
    trimAdapters   = 'NexteraPE-PE.fa'
    trimMismatches = 2
    trimPclip      = 30
    trimClip       = 10
    trimWinsize    = 0
    trimWinqual    = 0
    trimLeading    = 0
    trimTrailing   = 0
    trimCrop       = 0
    trimHeadcrop   = 0
    trimMinlen     = 0
}
timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
