process {
    withName: trimmomatic {
        container = 'docker://staphb/trimmomatic'
    }
    withName: kraken {
        container = 'docker://staphb/kraken2'
    }
}
singularity {
    enabled = true
    runOptions = "--bind /databases"
}
executor {
    $local {
        queueSize = 8
        memory = '64 GB'
    }
}