import java.time.*
Date now = new Date()

process {
    errorStrategy = 'finish'
    withName: trimmomatic {
        container = 'docker://staphb/trimmomatic:0.39'
    }
    withName: seqpurge {
        conda = 'bioconda::ngs-bits=2019_09'
    }
    withName: kraken {
        container = 'docker://staphb/kraken2:2.1.2-no-db'
    }
    withName: filterreads {
        conda = 'bioconda::krakentools=1.2'
    }
    withName: kraken2krona {
        conda = 'bioconda::krakentools=1.2'
    }
    withName: krona {
        conda = 'bioconda::krona=2.8'
    }
    withName: ray {
        container = 'library://millironx/default/ray:v2.3.1'
        errorStrategy = 'ignore'
    }
    withName: iva {
        container = 'docker://sangerpathogens/iva:1.0.11'
        errorStrategy = 'ignore'
    }
    withName: a5 {
        container = 'https://depot.galaxyproject.org/singularity/a5-miseq:20160825--hdfd78af_2'
        errorStrategy = 'ignore'
    }
    withName: bwa {
        container = 'docker://staphb/bwa:0.7.17'
    }
    withName: sortsam {
        container = 'docker://staphb/samtools:1.12'
    }
    withName: blast {
        container = 'docker://ncbi/blast:2.11.0'
    }
}
singularity {
    enabled = true
}
params {
    tracedir = '.trace'
    timestamp = now.format('yyyyMMdd-HH-mm-ss')
    trimmomatic {
        fastaWithAdapters = 'NexteraPE-PE.fa'
        seedMismatches = 2
        palindromeClipThreshold = 30
        simpleClipThreshold = 10
        windowSize = 0
        requiredQuality = 0
        leading = 0
        trailing = 0
        crop = 0
        headcrop = 0
        minlen = 0
    }
    seqpurge {
        a1 = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
        a2 = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
        match_perc = 80
        mep = 1e-6
        qcut = 15
        qwin = 5
        qoff = 33
        ncut = 7
        min_len = 30
    }
    ray {
        kmerlength = 21
        minimumSeedLength = 100
        minimumContigLength = 100
        maximumSeedCoverageDepth = 4294967295
        minimumSeedCoverageDepth = 0
    }
    iva {
        k = 19
        s = 11
        y = 0.5
        ctg_first_trim = 25
        ctg_iter_trim = 10
        ext_min_cov = 10
        ext_min_ratio = 4
        ext_max_bases = 100
        ext_min_clip = 3
        max_contigs = 50
        seed_min_kmer_cov = 25
        seed_max_kmer_cov = 1000000
        seed_ext_max_bases = 50
        seed_ext_min_cov = 10
        seed_ext_min_ratio = 4
        max_insert = 800
    }
}
timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
