process {
    withLabel: trimmomatic {
        container = 'quay.io/staphb/trimmomatic:0.39'
    }
    withLabel: kraken {
        container = 'quay.io/staphb/kraken2:2.1.2-no-db'
    }
    withLabel: krakentools {
        conda = 'bioconda::krakentools=1.2'
    }
    withLabel: krona {
        conda = 'bioconda::krona=2.8'
    }
    withLabel: seqtk {
        container = 'quay.io/staphb/seqtk:1.3'
    }
    withLabel: blast {
        container = 'docker.io/ncbi/blast:2.11.0'
    }
    withLabel: nanofilt {
        container = 'quay.io/biocontainers/nanofilt:2.8.0--py_0'
    }
}
