process {
    // Deinterleaving parameter: take every other read
    withName: 'SEQKIT_SPLIT2' {
        ext.args = '-p2'
    }

    // Trimming: argument propogation
    withName: 'TRIMMOMATIC' {
        ext.clipFlag   = (params.trim_adapters && params.trim_mismatches && params.trim_pclip && params.trim_clip) ? "ILLUMINACLIP:/usr/local/share/trimmomatic-0.39-2/adapters/${params.trim_adapters}:${params.trim_mismatches}:${params.trim_pclip}:${params.trim_clip}" : ''
        ext.winFlag    = (params.trim_winsize && params.trim_winqual) ? "SLIDINGWINDOW:${params.trim_winsize}:${params.trim_winqual}" : ''
        ext.leadFlag   = (params.trim_leading) ? "LEADING:${params.trim_leading}" : ''
        ext.trailFlag  = (params.trim_trailing) ? "TRAILING:${params.trim_trailing}" : ''
        ext.cropFlag   = (params.trim_crop) ? "CROP:${params.trim_crop}" : ''
        ext.headFlag   = (params.trim_headcrop) ? "HEADCROP:${params.trim_headcrop}" : ''
        ext.minlenFlag = (params.trim_minlen) ? "MINLEN:${params.trim_minlen}" : ''
        ext.args = [ext.clipFlag, ext.winFlag, ext.leadFlag, ext.trailFlag, ext.cropFlag, ext.headFlag, ext.minlenFlag].join(' ')
    }
    withName: 'NANOFILT' {
        ext.minlenflag = ( params.trim_minlen > 0 )   ? "--length ${params.trim_minlen}"     : ''
        ext.maxlenflag = ( params.trim_maxlen > 0 )   ? "--maxlength ${params.trim_maxlen}"  : ''
        ext.qualflag   = ( params.trim_meanqual > 0 ) ? "--quality ${params.trim_meanqual}"  : ''
        ext.mingcflag  = ( params.trim_mingc > 0 )    ? "--minGC ${params.trim_mingc}"       : ''
        ext.maxgcflag  = ( params.trim_maxgc > 0 )    ? "--maxGC ${params.trim_maxgc}"       : ''
        ext.headflag   = ( params.trim_headcrop > 0 ) ? "--headcrop ${params.trim_headcrop}" : ''
        ext.tailflag   = ( params.trim_tailcrop > 0 ) ? "--tailcrop ${params.trim_tailcrop}" : ''
        ext.args = [ext.minlenflag, ext.maxlenflag, ext.qualflag, ext.mingcflag, ext.maxgcflag, ext.headflag, ext.tailflag].join(' ')
    }

    // Output Krona chart
    withName: 'KRONA_IMPORTTEXT' {
        ext.args = '-n root'
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    // Kraken filtering
    withName: 'KRAKENTOOLS_EXTRACT' {
        ext.args = '--include-children'
    }

    // Put seqtk seq into fasta conversion mode
    withName: 'SEQTK_SEQ' {
        ext.args = '-a'
    }

    // BLAST output format
    withName: 'BLAST_BLASTN' {
        ext.args = '-outfmt "6 qseqid stitle sgi staxid ssciname scomname score bitscore qcovs evalue pident length slen saccver mismatch gapopen qstart qend sstart send"'
    }
}
