params {
    // Input options
    input          = '.'
    platform       = null
    paired         = (params.platform == 'illumina')
    interleaved    = false

    // Kraken 2 options
    kraken2_db     = null

    // NCBI BLAST options
    blast_db       = null
    blast_target   = '0 10239' // 0 = Unclassified, 10239 = Viral

    // Read trimming options (shared)
    trim_minlen      = 100
    trim_headcrop    = 0

    // Illumina trimming options (Trimmomatic)
    trim_adapters    = 'NexteraPE-PE.fa'
    trim_mismatches  = 2
    trim_pclip       = 30
    trim_clip        = 10
    trim_winsize     = 50
    trim_winqual     = 15
    trim_leading     = 15
    trim_trailing    = 15
    trim_crop        = 0

    // ONT-specific trimming options (Filtlong)
    trim_maxlen       = 0
    trim_meanqual     = 7
    trim_mingc        = 0
    trim_maxgc        = 0
    trim_tailcrop     = 0

    // Boilerplate options
    outdir                = './results'
    tracedir              = "${params.outdir}/.trace"
    publish_dir_mode      = 'copy'
    help                  = false
    show_hidden_params    = false
    schema_ignore_params  = false
    custom_config_version = 'master'
    custom_config_base    = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    enable_conda          = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                   = '128.GB'
    max_cpus                     = 32
    max_time                     = '240.h'

    // Step-skipping options
    skip_qc       = false
    skip_trimming = false
    skip_blast    = false
}
