// Configuration profiles to allow use of different container environments. Uses
// similar nomenclature and code as nf-core's pipelines

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        docker.runOptions      = "-v ${params.kraken2_db}:${params.kraken2_db}:ro -v ${params.blast_db}:${params.blast_db}:ro"
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        envWhitelist           = 'KRAKEN2_DEFAULT_DB,KRAKEN2_DB_PATH,NCBI_API_KEY,BLASTDB'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "--bind ${params.kraken2_db},${params.blast_db}"
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        envWhitelist           = 'KRAKEN2_DEFAULT_DB,KRAKEN2_DB_PATH,NCBI_API_KEY,BLASTDB'
    }
    podman {
        podman.enabled         = true
        podman.runOptions      = "-v ${params.kraken2_db}:${params.kraken2_db}:ro,z -v ${params.blast_db}:${params.blast_db}:ro,z"
        podman.mountFlags      = 'z'
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        envWhitelist           = 'KRAKEN2_DEFAULT_DB,KRAKEN2_DB_PATH,NCBI_API_KEY,BLASTDB'
    }

    // Debug
    debug { process.beforeScript = 'echo $HOSTNAME; echo $SHELL; echo $PATH' }
}
