// Per-process resource allocation configuration. Most elements are taken from the
// default nf-core template, but are heavily tweaked to ensure they work with the
// applications in this pipeline

includeConfig './base.config'

// Process allocation limits
process {

    withLabel: error_backoff {
        errorStrategy = { sleep(Math.pow(2, task.attempt) * 500 as long); return 'retry' }
        maxRetries    = 4
    }

    // Run process on login node
    // Useful for HPCs where the compute nodes don't have internet access
    withLabel: run_local {
        executor = 'local'
    }
}
