params {
    input       = 'https://github.com/ksumngs/nf-test-datasets/raw/yavsap/samplesheet/illumina-pe-interleaved.tsv'
    platform    = 'illumina'
    paired      = true
    interleaved = true

    includeConfig 'test_params_common.config'
}

process {
    includeConfig 'test_process_common.config'
}
