params {
    input       = 'https://raw.githubusercontent.com/ksumngs/nf-test-datasets/yavsap/samplesheet/nanopore.tsv'
    platform    = 'nanopore'
    paired      = false
    interleaved = false

    includeConfig 'test_params_common.config'
}

process {
    includeConfig 'test_process_common.config'
}
